.example-card {
    max-width: 400px;
    
  }
  
  .example-header-image {
    background-image: url('/assets/cat.png');
    background-size: cover;
  }

  :host {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }