<mat-card class="cards" >
    <mat-card-header>
        <mat-card-title>{{ question.description }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-radio-group
        aria-label="Select an option"
        [disabled]="!!result"
        (change)="onChange($event.value)"
      >
        <mat-radio-button 
          [value]="'answer_a'" 
          [checked]="result?.answer === 'answer_a'"
          [class.is-right]="result?.answer === 'answer_a' && result?.isRight"
          [class.is-not-right]="result?.answer === 'answer_a' && !result?.isRight"
        >
        
          {{ question.answers.answer_a }}
        </mat-radio-button>

        <mat-radio-button 
          [value]="'answer_b'"
          [checked]="result?.answer === 'answer_b'"
          [class.is-right]="result?.answer === 'answer_b' && result?.isRight"
          [class.is-not-right]="result?.answer === 'answer_b' && !result?.isRight"
        >
          {{ question.answers.answer_b }}
        </mat-radio-button>

        <mat-radio-button
          [value]="'answer_c'"
          [checked]="result?.answer === 'answer_c'"
          [class.is-right]="result?.answer === 'answer_c' && result?.isRight"
          [class.is-not-right]="result?.answer === 'answer_c' && !result?.isRight"
          *ngIf="question.answers.answer_c"
          >
          {{ question.answers.answer_c }}
          </mat-radio-button>


        <mat-radio-button
          [value]="'answer_d'"
          [checked]="result?.answer === 'answer_d'"
          [class.is-right]="result?.answer === 'answer_d' && result?.isRight"
          [class.is-not-right]="result?.answer === 'answer_d' && !result?.isRight"

          *ngIf="question.answers.answer_d"
          >
          {{ question.answers.answer_d }}
          </mat-radio-button>
          

        <mat-radio-button
          [value]="'answer_e'"
          [checked]="result?.answer === 'answer_e'"
          [class.is-right]="result?.answer === 'answer_e' && result?.isRight"
          [class.is-not-right]="result?.answer === 'answer_e' && !result?.isRight"
          *ngIf="question.answers.answer_e"
          >
          {{ question.answers.answer_e }}
          </mat-radio-button>


        <mat-radio-button
          [value]="'answer_f'"
          [checked]="result?.answer === 'answer_f'"
          [class.is-right]="result?.answer === 'answer_f' && result?.isRight"
          [class.is-not-right]="result?.answer === 'answer_f' && !result?.isRight"
          *ngIf="question.answers.answer_f"
          >
          {{ question.answers.answer_f }}

          </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
